.jumbotron-with-bg-image{
    background-image: url('images/appaLarge.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
   }
.carousel-inner{
    bottom: -300px;
}
.carousel-slide{
    bottom: -300px;
}
#demo{
    bottom: -300px;
} 
body { background-color: coral;}

.btn .btn-lg .btn-danger {
background-color: coral
right: 100px;
}

