.jumbotron-with-bg-image{
    background-image: url('images/appaLarge.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
   }

body { background-color: coral;}

.btn .btn-lg .btn-danger {
background-color: coral
}

